@charset "utf-8";
#handleContacts{
	font-family: Arial, Helvetica, sans-serif;
    float: right;
    clear: right;
    width: 58%;
    margin-top: 1%;
}

select{
	font-weight: bold;
	border:1px solid #ffeaee;
	color: #ffc972;
	background-color: #0e3b43;
    float: right;
    margin-right: 1%;
    width: 33.23%;
}

#contactsActions{
	font-family: Arial, Helvetica, sans-serif;
	
}
#contactName{
    color: #ffc972;
	font-weight: bold;
    border: 1px solid #ffeaee;
    background-color: #0e3b43;
    width: 33%;
}
#contactNumber{
    color: #ffc972;
	font-weight: bold;
    border: 1px solid #ffeaee;
    background-color: #0e3b43;
    width: 33%;
}
.conAct{
	margin-top: 1%;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	border:1px solid #ffeaee;
	color: #ffc972;
	background-color: #0e3b43;
}

span{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #ffc972;
    width: 65%;
    float: right;
    padding-left: 7px;
    /* [disabled]height: 0px; */
}
