@charset "utf-8";

#digitContainer{
    float: right;
	border: none;
    width: 58%;
}
.row{
	border: none;
}
.digit{
	border: none;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #ffc972;
    background-color: #0e3b43;
	text-align: center;
	float:left;
    width:32%;
    border:1px solid #ffeaee; 
    padding:5px;
}
input[type=submit]{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    color: #ffc972;
    background-color: #0e3b43;
    width: 100%;
    height: 100%;
}
