<html>

<head>
    <meta charset="utf-8">
    <title>Contact List</title>
    <style>
        <%- tastierinoCSS.style %>
        <%- azioniContattiCSS.style %>
        <%- allOverCSS.style %>
        <%- listaContattiCSS.style %>
    </style>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script>
        <%- handlingScript.script %>
    </script>
    <script>
        <%- ajaxScript.script %>
    </script>
</head>

<body>
    <div id="contactsList">
        <div id="listHeader">
            <div class="listHeaderElement">Name</div>
            <div class="listHeaderElement">Type</div>
            <div class="listHeaderElement">Number</div>
        </div>
        
    <% for(let i = 0; i<allInfos.length; i++){%>
        <div class = "contactRow <%= allInfos[i][0].idContact %>">
           <% for(let j = 0; j<allInfos[i].length;j++) {%>
                <div class="info" id = "<%= allInfos[i][j].idTelephone %>">
                    <div class= "element"><%= allInfos[i][j].contactName %></div>
                    <div class= "element"><%= allInfos[i][j].telephoneType=='cellphone'?'Cellphone':allInfos[i][j].telephoneType=='phoneNumber'?'Phone Number':'Fax' %></div>
                    <div class= "element"><%= allInfos[i][j].telephoneNumber %></div>  
                </div>    
           <% }%>
        </div>
    <% }%>
    </div>
    <div id="digitContainer">
        <div class="row">
            <div class="digit"><input id="1" type="submit" value="1"></div>
            <div class="digit"><input id="2" type="submit" value="2"></div>
            <div class="digit"><input id="3" type="submit" value="3"></div>
        </div>
        <div class="row">
            <div class="digit"><input id="4" type="submit" value="4"></div>
            <div class="digit"><input id="5" type="submit" value="5"></div>
            <div class="digit"><input id="6" type="submit" value="6"></div>
        </div>
        <div class="row">
            <div class="digit"><input id="7" type="submit" value="7"></div>
            <div class="digit"><input id="8" type="submit" value="8"></div>
            <div class="digit"><input id="9" type="submit" value="9"></div>
        </div>
        <div class="row">
            <div class="digit"><input id="*" type="submit" value="*"></div>
            <div class="digit"><input id="0" type="submit" value="0"></div>
            <div class="digit"><input id="#" type="submit" value="#"></div>
        </div>
    </div>
    <div id="handleContacts">
        <form id="contactForm" method="post" action="">
            <input type ="hidden" id = "idContact" name ="idContact" value = "">
            <input type ="hidden" id = "idTelephone" name ="idTelephone" value = "">
            <div class="conInfo">
                <span> Contact Name </span>
                <input id="contactName" name = "contactName">
            </div>
            <div class="conInfo">
                <span> Contact Type </span>
                <select id="types" name="contactType" form="contactForm">
          <option value="cellphone">Cellphone</option>
          <option value="phoneNumber">Phone Number</option>
          <option value="fax">Fax</option>
        </select>
            </div>
            <div class="conInfo">
                <span> Contact Number </span>
                <input id="contactNumber" name = "contactNumber">
            </div>
            <div id="contactsActions">
                <!--<div class="conAct">
                    <input type="button" id="findContactByNameAndType" value="Find contact by name and type">
                    <input type="button" id="findContactByNumber" value="Find contact by number">
                </div>-->
                <div class="conAct">
                    <input type="button" id="addContact" value="Add contact"  >
                </div> 
                <div class="conAct">
                    <input type="button" id="updateNumber" value="Update contact number"  >
                    <input type="button" id="updateName" value="Update contact name">
                    <input type="button" id="updateType" value="Update contact type"  >
                </div>
                <div class="conAct">
                    <input type="button" id="deleteContact" value="Delete contact" >
                    <input type="button" id="deleteNumber" value="Delete number" >
                </div>
                
                
            </div>
        </form>
    </div>
</body>

</html>