@charset "utf-8";
#contactsList {
    float: left;
    width: 40%;
    margin-left: 1%;
}

.element {
    border: 1px solid #ffeaee;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #ffc972;
    background-color: #0e3b43;
    float: left;
    width: 33%;
}

.listHeaderElement {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #ffc972;
    background-color: #0e3b43;
    border: 1px solid #ffeaee;
    float: left;
    width: 31%;
    padding-left: 1%;
    padding-top: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
}

.contactRow {
    margin-top: 7%;
    margin-bottom: 10%;
    display: list-item;
    color: #2f4858;
}