@charset "utf-8";
#digitContainer {
    float: right;
    border: none;
    width: 58%;
    height: 3%;
    margin-bottom: 7%;
}

.row {
    border: none;
}

.digit {
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #ffc972;
    background-color: #0e3b43;
    text-align: center;
    float: left;
    width: 32%;
    border: 1px solid #ffeaee;
    padding: 5px;
}

.digit:hover {
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #0e3b43;
    background-color: #ffc972;
    text-align: center;
    float: left;
    width: 32%;
    border: 1px solid #ffeaee;
    padding: 5px;
    transition: 0.2s;
}

input[type=submit] {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    color: #ffc972;
    background-color: #0e3b43;
    width: 100%;
    height: 100%;
}

input[type=submit]:hover {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    color: #0e3b43;
    background-color: #ffc972;
    width: 100%;
    height: 100%;
    transition: 0.4s;
}

input[type=button] {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    color: #ffc972;
    background-color: #0e3b43;
    width: 100%;
    height: 100%;
}

input[type=button]:hover {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    color: #0e3b43;
    background-color: #ffc972;
    width: 100%;
    height: 100%;
    transition: 0.1s;
}

button[type=submit] {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    color: #ffc972;
    background-color: #0e3b43;
    width: 100%;
    height: 100%;
}